@use '../fonts' as *;

#authheader {
  display: grid;
  place-items: center;
  width: 100%;
  height: min-content;

  font-family: $serif;

  h1 {
    font-size: clamp(2.5rem, 1rem + 6vw, 5rem);
  }

  .header-logo {
    width: 50%;
    filter: drop-shadow(-3px 3px 4px rgba(0, 0, 0, 0.5));
  }
}
