@use '../fonts' as *;
@use '../colors' as *;

#header {
  display: flex;
  position: relative;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  height: 10%;

  .brand {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 1rem;

    h1 {
      font-size: clamp(1.7rem, 1rem + 3.25vw, 3rem);
      font-family: $serif;
    }

    .header-logo {
      height: 55%;
    }
  }

  .menu-btn {
    font-size: clamp(1.7rem, 1rem + 3.25vw, 3rem);
  }

  nav.nav {
    display: flex;
    gap: 10%;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    left: -7vw;
    width: 100vw;
    height: 100vh;
    background-color: $accent-blue;
    z-index: 100;

    transition: all ease-in-out 0.6s;

    clip-path: circle(
      0% at calc(93% - clamp(1.7rem, 1rem + 3.25vw, 3rem) / 2) 5%
    );

    &.open {
      clip-path: circle(
        300% at calc(93% - clamp(1.7rem, 1rem + 3.25vw, 3rem) / 2) 5%
      );
    }

    .close-menu-btn {
      position: absolute;
      font-size: clamp(1.7rem, 1rem + 3.25vw, 3rem);
      top: calc(5vh - clamp(1.7rem, 1rem + 3.25vw, 3rem) / 2);
      right: 7%;
    }
  }

  .nav-item {
    background: none;
    border: none;
    outline: none;

    color: $text-dark;
    font-family: $serif;
    font-size: clamp(1.7rem, 1rem + 3.25vw, 3rem);
    font-weight: 500;
    text-decoration: none;
  }
}
