@use "../colors" as *;
@use "../fonts" as *;
@use "../utils";

#quick-play {
  grid-area: quick-play;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .btn {
    height: 60%;
    border: none;
    border-radius: 10px;
    background: $gradient-blue;
    font-size: 1.2rem;
    font-weight: 600;
    box-shadow: utils.$shadow;

    display: grid;
    gap: 0.5rem;
    place-items: center;
    grid-template-columns: 30% auto;
    padding: 0 1.5rem;

    .img-wrap {
      display: grid;
      width: 100%;
      place-items: center;

      img {
        width: 2rem;
      }
    }

    &:nth-child(2) {
      img {
        width: 1.7rem;
      }
    }

    transition: all 0.2s ease-in-out;

    &:active {
      transform: translateY(3px);
      box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3);
    }
  }
}
