@use '../colors' as *;
@use '../fonts' as *;
@use '../utils' as *;
@use 'sass:color';

#home-user {
  height: 100%;
  width: 100%;

  display: grid;
  grid-template-areas:
    '.      .     pfp       .        . '
    '.      .     pfp       .        . '
    '.      inset      inset   inset . '
    '.      .     .         .        .';

  grid-template-rows: 30% 30% auto 5%;
  grid-template-columns: 5% 20% 50% 20% 5%;

  .img-wrap {
    grid-area: pfp;
    place-self: center;

    img {
      max-width: 90%;
      max-height: 90%;
      border-radius: 50%;

      border: solid 2px $text-dark;
      box-shadow: $shadow;
    }
    z-index: 15;
  }

  .bg {
    grid-column: 1 / -1;
    grid-row: 2 / -1;
    background-color: $bg-light;
    border-radius: 15px;

    -webkit-box-shadow: $shadow;
    box-shadow: $shadow;
  }

  .text {
    grid-area: inset;
    z-index: 5;

    h1,
    h3 {
      font-family: $sans-serif;
      text-transform: capitalize;
    }

    h3 {
      color: $grey;
      font-weight: 400;
    }
  }
}
