@use './colors' as *;
@use './fonts' as *;
@use 'sass:color';

#auth {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  #signin,
  #register {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 2rem;

    height: 100%;

    p.errorText {
      color: red;
    }

    form {
      width: 100%;
    }

    .input {
      display: flex;
      width: 100%;
      overflow-x: hidden;
      align-items: center;
      gap: 1rem;
      border-radius: 15px;
      border: solid 2px #707070;
      height: 3.5rem;
      padding: 0 1rem;
      margin: 1rem 0;
      background-color: white;
      position: relative;

      transition: all 0.2s ease;

      .text {
        height: 100%;
        width: 100%;
      }

      .icon {
        position: absolute;
        color: #707070;
        display: grid;
        place-items: center;
        top: 50%;
        left: 1rem;
        transform: translate(0, -50%);

        transition: all 0.2s ease;
      }

      label {
        z-index: 5;
        position: absolute;
        left: 3.5rem;
        color: #707070;
        font-size: 1.1rem;
        transform: translateY(-50%);
        top: 50%;

        transition-property: left, transform, top, font-size;
        transition-timing-function: ease;
        transition-duration: 0.2s;
        transition-delay: 0.2s, 0, 0, 0;
      }

      &:focus-within,
      &:focus,
      &.active {
        height: 4rem;

        label {
          font-size: 0.8rem;
          transform: translateY(0);
          top: 0.25rem;
          left: 1rem;
        }

        .icon {
          left: -50vw;
        }
      }

      input {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        outline: none;
        border: none;
        padding: 0;
        font-size: 1.1rem;
        background-color: rgba(0, 0, 0, 0);

        position: absolute;
        left: 1rem;
        bottom: 0;
        right: 0;
        width: calc(100% - 2rem);

        height: 2.5rem;

        &:active,
        &:focus-within {
          border: none;
        }
      }

      &.error {
        border: solid 2px red;

        input,
        label {
          color: red;
        }
      }

      &:active,
      &:focus-within {
        border: solid 2px $accent-blue;
      }
    }

    .alternatives {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      gap: 1rem;
    }

    .socials {
      display: grid;
      place-items: center;
      border-radius: 15px;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 100%;

      height: 3.5rem;
      width: 100%;

      .social {
        height: 100%;
        z-index: 4;
        width: 100%;

        display: grid;
        place-items: center;

        box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);

        transition: all 0.2s ease-in-out;

        &:active {
          transform: translateY(3px);
          box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3);
        }
      }

      .google {
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        background-color: white;
      }

      .apple {
        background-color: black;
      }

      .facebook {
        background-color: #4267b2;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
      }
    }

    .btn {
      border: none;
      font-size: 1.2rem;
      font-family: $sans-serif;
      font-weight: 450;
      margin-top: 1rem;
      margin-bottom: -1rem;

      width: 100%;
      height: 3.5rem;
      border-radius: 15px;
    }
  }

  #register {
    #authheader {
      display: flex;
      justify-content: center;
      gap: 1rem;

      img {
        width: 20%;
        filter: drop-shadow(-2px 2px 2px rgba(0, 0, 0, 0.5));
      }
    }
    #register-btn {
      background: $gradient-blue;
      color: $text-dark;

      box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);

      transition: all 0.2s ease-in-out;

      &:active {
        transform: translateY(3px);
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3);
      }
    }

    #signin-btn {
      color: $text-dark;
    }
  }

  #signin {
    #signin-btn {
      background: $gradient-blue;
      color: $text-dark;

      box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);

      transition: all 0.2s ease-in-out;

      &:active {
        transform: translateY(3px);
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3);
      }
    }

    #register-btn {
      color: $text-dark;
    }
  }
}
