// BACKGROUND
$bg-dark: #210203;
$bg-light: #f3f5f7;

$bg: $bg-light;

// TEXT
$text-dark: $bg-dark;
$text-light: $bg-light;

$text: $text-dark;

// ACCENTS
$accent-blue: #6d98ba;
$accent-tan: #d3b99f;
$accent-clay: #c17767;
