@use './colors' as *;
@import '~react-chessground/dist/styles/chessground';

body {
  background-color: $bg-dark;
  color: $text-light;
  margin: 0;
  width: 100%;

  font-family: sans-serif;
  text-align: center;
}

.board-wrapper {
  width: 100%;
  padding-top: 100%;
  position: relative;
}

.cg-wrap {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
